@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

.font-alegreya {
    font-family: 'Alegreya', serif;
}

.font-roboto-slab {
    font-family: 'Roboto Slab', serif;
}

:root {
    --text-b: #000;
    --text-g-9: #1a202c;
    --text-g-8: #2d3748;
    --text-g-7: #4a5568;
    --text-g-6: #718096
}



html, body {
    font-family: 'Roboto Slab', serif;
}

body {
    background-image: url('../img/lightpaperfibers.png');
}

.page {
    background-image: url('../img/lightpaperfibers.png');
}


.page {
    max-width: 968px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
}

#self-def {
    display: inline-block;
    transform: translateY(-8px);
}

.def-padding {
    padding: 16px;
}

.article {
    padding: 16px;
}

.home-page header, .media-list, .title, .subtitle, .section-title {
    text-align: center;
}

.home-page header {
    padding-top: 64px;
}

article h1 {
    color: var(--text-b);
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
    display: block;
    /* margin-block-start: 0.83em; */
    /* margin-block-end: 0.63em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1; 
}

article .title {
    color: rgba(26,32,44,1);
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
    display: block;
    margin-block-start: 0.83em;
    /* margin-block-end: 0.63em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
}

article h6 {
    font-size: 1rem;
    color: rgba(74,85,104,1);
    font-weight: 500;
}
article .subtitle {
    transform: translateY(-4px);
}

article .section-title {
    color: rgba(45,55,72,1);
    /* margin-top: .5rem; */
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1.03em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


article ul li h4{
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.15;
    display: block;
    color: inherit;
}


article ul li h4.inline{
    display: inline;
}

article ul li p{
    color: rgba(74,85,104,1);
    font-size: .75rem;
    line-height: 1.35;
    margin-top: 0.125rem;
}

article time {
    color: rgba(160,174,192,1);
    margin-left: .25rem;
    font-size: .875rem;
    font-weight: 300;
}


.media-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.media-list .list-item {
    width: calc(50vw - 24px);
    margin: 4px;
    margin-bottom: 16px;
}

.media-list .list-item .info {
    text-align: left;   
    padding: 4px 4px;
}

.media-list .list-item img {
    width: 100%;
    /* height: 100%; */
}

@media screen and (min-width: 600px) {
    .article {
        padding-left: 32px;
        padding-right: 32px;
    }
    .def-padding {
        padding-left: 32px;
        padding-right: 32px;
    }
    .media-list {
        justify-content: center;
    }
    .media-list .list-item {
        width: calc(33% - 8px);
        margin: 4px;
    }
}

.social-links {
    display: inline-block;
    /* width: 128px; */
    position: absolute;
    right: 16px;
    top: 16px;
}
.social-links ul {
    display: inline-flex;
}
.social-links li {
    margin-right: 8px;;
}
.social-links a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.social-links svg {
    fill: #666;
}
.social-links svg:hover {
    fill: black;
}


/* .media-list .list-item:not(:first-child) {
    margin-left: 8px;
}
.media-list .list-item:not(:last-child) {
    margin-right: 8px;
} */