@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

.font-alegreya {
    font-family: 'Alegreya', serif;
}

.font-roboto-slab {
    font-family: 'Roboto Slab', serif;
}

:root {
    --text-b: #000;
    --text-g-9: #1a202c;
    --text-g-8: #2d3748;
    --text-g-7: #4a5568;
    --text-g-6: #718096
}

html, body {
    font-family: 'Roboto Slab', serif;
}
body {
    background-color: #111;
}

.page {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
}

#self-def {
    display: inline-block;
    transform: translateY(-8px);
}

.def-padding {
    padding: 16px;
}

.article {
    padding: 16px;
}

article h1 {
    color: var(--text-b);
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
    display: block;
    /* margin-block-start: 0.83em; */
    /* margin-block-end: 0.63em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1; 
}

article h2 {
    color: rgba(26,32,44,1);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    display: block;
    margin-block-start: 0.83em;
    /* margin-block-end: 0.63em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
}

article h6 {
    font-size: .75rem;
    color: rgba(74,85,104,1);
    font-weight: 500;
}
article .subtitle {
    transform: translateY(-4px);
}

article h3 {
    color: rgba(45,55,72,1);
    /* margin-top: .5rem; */
    font-size: .75rem;
    font-weight: 500;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: .43em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



article ul li {
    margin-top: 0.5rem;
}
article ul li h4{
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    color: inherit;
}


article ul li h4.inline{
    display: inline;
}

article ul li p{
    color: rgba(74,85,104,1);
    font-size: .75rem;
}

article time {
    color: rgba(160,174,192,1);
    margin-left: .25rem;
    font-size: .875rem;
    font-weight: 300;
}


@media screen and (min-width: 600px) {
    .article {
        padding-left: 32px;
        padding-right: 32px;
    }
    .def-padding {
        padding-left: 32px;
        padding-right: 32px;
    }
}