/* @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.font-alegreya {
    font-family: 'Alegreya', serif;
}

.font-roboto-slab {
    font-family: 'Roboto Slab', serif;
}

:root {
    --text-b: #000;
    --text-g-9: #1a202c;
    --text-g-8: #2d3748;
    --text-g-7: #4a5568;
    --text-g-6: #718096;
    --text-b-6: #3182ce;
    --text-b-7: #2b6cb0;;
}

html, body {
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Kalam', serif; */
    /* font-weight: bold; */
}

.home-page{
    font-family: 'Kalam', serif;
}

#site-title {
    letter-spacing: 1.5px;
    font-family: 'Permanent Marker', cursive;
}

body {
    background-image: url('../img/lightpaperfibers.png');
}

.page {
    background-image: url('../img/lightpaperfibers.png');
}

.page {
    max-width: 968px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
}

#self-def {
    display: inline-block;
    /* transform: translateY(-8px); */
}

.def-padding {
    padding: 16px;
}

.article {
    padding: 8px;
}

.article#blog {
    padding: 16px;
}

.home-page header, .media-list, .title, .subtitle, .section-title {
    text-align: center;
}

.home-page header {
    padding-top: 64px;
}

.home-page .title {
    font-family: 'Permanent Marker', cursive;
}
article .title {
    /* font-family: 'Permanent Marker', cursive; */
    letter-spacing: 1.24px;
    color: rgba(26, 32, 44, 1);
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
    display: block;
    margin-block-start: 0.83em;
    /* margin-block-end: 0.63em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
}

/* .home-page article .title {
    transform: translateY(-48px);
} */

article .subtitle {
    /* transform: translateY(-4px); */
}

article .section-title {
    color: rgba(45, 55, 72, 1);
    /* margin-top: .5rem; */
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1.03em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

article ul li h4 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    color: inherit;
    margin-top: .5rem;
}

article ul li h4.inline {
    display: inline;
}

article ul li p {
    /* padding: 0 2px; */
    color: var(--text-g-9);
    font-size: 1rem;
    line-height: 1.35;
    /* margin-top: 0.125rem; */
}

article time {
    color: var(--text-g-7);
    margin-left: .25rem;
    font-size: .75rem;
    font-weight: 300;
}

.media-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.media-list .list-item {
    width: calc(50vw - 16px);
    margin: 4px;
    margin-bottom: 24px;
}

.media-list .list-item .info {
    text-align: left;
    /* padding: 4px 4px; */
}

.media-list .list-item img {
    width: 100%;
    /* height: 100%; */
}

.social-links {
    display: inline-block;
    /* width: 128px; */
    position: absolute;
}

.on-top {
    right: 16px;
    top: 16px;
}

.on-bottom {
    right: 16px;
    bottom: 16px;
}

.social-links ul {
    display: inline-flex;
    padding-right: 8px;
}

.social-links li {
    margin-left: 20px;
    ;
}

.social-links a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.social-links svg {
    fill: #666;
}

.social-links svg:hover {
    fill: black;
}

/* web projects page */

.web-projects-page .article .title {
    font-size: 2.25rem;
    line-height: 1.15;
}

.web-projects-page .article .subtitle {
    font-size: 1rem;
    margin-top: .5rem;
}

.iphone-thumb-w {
    margin-top: 1.25rem;
}

.iphone-thumb-w img {
    width: 75%;
    margin: 0 auto;
    max-width: 300px;
}

.project-link-w {
    padding: 1rem;
    color: var(--text-b-6);
    font-size: 1.25rem;
}

.project-link-w a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.extarnal-link-w {
    margin-left: 4px;
    display: inline-flex;
    align-items: center;
    height: 24px;
}

/* ------ web projects -------- */

.painting-img {
    margin: 0 auto;
}

/* buy container */

.buy-container {
    padding: 8px 16px;
    max-width: 400px;
    margin: 0 auto;
}

.price {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 8px 16px;
}

.info-c {
    font-size: 13px;
    padding: 8px 0px;
    color: var(--text-g-8);
}

.btn {
    padding: 0.5rem .75rem;
    border-radius: 4px;
    font-weight: 600;
}

#buy-btn {
    background-color: var(--text-b-6);
    color: white;
    width: 100%;
    margin-bottom: 8px
}
#buy-btn:hover {
    background-color: var(--text-b-7);
}

#gift-btn {
    color: var(--text-b-6);
    border: 1px solid var(--text-b-6);
    width: 100%;
}
#gift-btn:hover {
    color: var(--text-b-7);
    border: 1px solid var(--text-b-7);
}

/* ----- buy container ------- */

footer {
    padding: 16px 16px;
    position: relative;
}

@media screen and (min-width: 600px) {
    .article {
        padding-left: 32px;
        padding-right: 32px;
    }
    .def-padding {
        padding-left: 32px;
        padding-right: 32px;
    }
    .media-list {
        justify-content: center;
    }
    .media-list .list-item {
        width: calc(32% - 8px);
        margin: 8px;
    }
}